.SignUpDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 550px;
}
.SignUpDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 450px;
  border-radius: 12px;
}

.FormDiv {
  background: white;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 750px;
}

.signup-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 1.5rem;
}

.ant-form-item {
  width: 100%;
}

.input-field {
  height: 40px;
  border-radius: 8px;
}

.signup-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: #1e3a8a;
  border: none;
  color: white;
}

.signup-button:hover {
  background-color: #3b82f6;
}
